# These dependencies match App Engine SDK versions.
WebOb==1.8.7
Jinja2==3.0.1
Mako==1.1.5
Babel==2.9.1
pytz==2021.1
# These are test dependencies
pytest==6.2.5
pytest-cov==2.12.1
mock==4.0.3
six==1.16.0
gcp-devrel-py-tools==0.0.16
