# These requirements versions match what's provided by the app engine sdk.
WebOb==1.8.10
Jinja2==3.1.6
# The remaining requirements are defined by webapp2. These are the versions
# that were used with release 2.5.2, except for babel.
six==1.17.0
Mako==1.3.12
Babel==2.18.0
gaepytz==2011h
# Test dependencies.
pytest==9.1.1
pytest-cov==7.1.0
mock==5.2.0
gcp-devrel-py-tools==0.0.16
