# These requirements versions match what's provided by the app engine sdk.
WebOb==1.8.7
Jinja2==3.0.1
# The remaining requirements are defined by webapp2. These are the versions
# that were used with release 2.5.2, except for babel.
six==1.16.0
Mako==1.1.5
Babel==2.9.1
gaepytz==2011h
# Test dependencies.
pytest==6.2.5
pytest-cov==2.12.1
mock==4.0.3
gcp-devrel-py-tools==0.0.16
